#footer-container {
	font-size: 0.5em;
	text-align: center;
	padding: 20px;
	color: #fffcdb;
}

@media only screen and (max-width: 460px) {
	#footer-container {
		font-size: 0.4em;
	}
}

@media only screen and (max-width: 330px) {
	#footer-container {
		margin-top: 30px;
		font-size: 0.3em;
	}
}