:root {
  --main-colour: teal;
}

html {
  font-size: 10px;
  height: 100%;
}

html *{
  transition: 0.25s;
}

body {
  background: var(--main-colour);
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  font-size: 3rem;
}

#quote-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: fit-content;
  width: 50rem;
  padding: 3rem;
  border-radius: 2px;
  background: #fffcdb;
  color: var(--main-colour);
}

#flex-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.input-button {
  color: white;
  background: var(--main-colour);
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.input-button:hover {
  cursor: pointer;
  filter: brightness(120%);
}

#tweet-quote, #copy-quote {
  font-size: 20px;
}

#copy-quote {
  position: relative;
  right: 8em;
}

#flex-footer {
  margin-top: auto;
}

@media only screen and (max-width: 550px){
  #quote-box {
    width: 30rem;
    padding: 1rem;
  }
  #copy-quote {
    right: 3em;
  }
}

@media only screen and (max-width: 330px){
  #quote-box {
    width: 20rem;
    padding: 0.5rem;
  }
  #copy-quote {
    right: 0.5em;
  }
}
